# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test"
      
  prepare:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        run: echo "Preparing..."

  bulid2:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        run: echo "build..."
